<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/prerequisite.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/bloodbanklogin.css">
    <script src="js/usersignup.js" defer></script>

    <title>Login</title>
</head>
<body>
        <nav>
      <div class="nav-container">
        <div class="logo-container">
          <div class="logo"></div>
          <a href="/">
          <h1>Blood Care</h1>
          </a>
        </div>
      </div>
    </nav>
    <main class="container">
    <div class="even-columns">
        <div class="hero-img-container">
            <img class="hero-img" src="images/bloodbank.png" alt="">
        <h2 class="thanksnote">One Stop Solution for All Blood Needs</h2>
        </div>
        <div class="card-container">
            <div class="card">
                <div>
                    <h1>Sign Up</h1>
                </div>
                <h4 class="done">Successfully regsitered. Please Login. Redirecting...</h4>
                <div class="form">
                    <form action="/api/bloodBankSignUp" method="post">
                        <div class="name-section">
                            <div>
                                <label for="name">Name Of Blood Bank</label>
                            </div>
                            <div>
                                <input type="text" name="name">
                            </div>
                        </div>
                        <div class="passwd-section">
                            <div>
                                <label for="password">Password</label>
                            </div>
                            <div>
                                <input type="password" name="password">
                            </div>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </main>
</body>
</html>