<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Passwword</title>
    <link rel="stylesheet" href="/css/prerequisite.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/userdash.css">
    <link rel="stylesheet" href="/css/changePasswd.css">
</head>
<body>
    <nav>
      <div class="nav-container">
        <div class="logo-container">
          <div class="logo"></div>
          <a href="/">
          <h1>Blood Care</h1>
          </a>
        </div>
      </div>
    </nav>
    <main class="container">
        <div class="crumbs">
            {{!-- <a href="/dashboard/{{email}}">Dashboard</a><span>/Change Password</span> --}}
            <form action="/api/userlogin" method="post">
              <input class="hidden" name="email" type="email" value="{{email}}">
              <input class="hidden" name="password" type="password" value="{{password}}">
              <input class="hidden" name="update" type="number" value="2">
              <button type="submit">DashBoard</button><span>/Edit Password</span>
            </form>
        </div>
        <div class="card-container">
            <div></div>
            <div class="details">
        <form class="form-container card" action="/api/userLogin" method="post">
            <div class="info even-columns">
                <label for="email">Email</label>
                <input name="email" value="{{email}}" readonly="read-only"></input>
            </div>
            <div class="info even-columns hidden">
                <label for="update"></label>
                <input name="update" value="0" readonly="read-only"></input>
            </div>
            <div class="info even-columns">
                <label for="password">Current Password</label>
                <input name="password"></input>
            </div>
            <div class="info even-columns">
                <label for="newPasswd">New Password</label>
                <input name="newPasswd" required></input>
            </div>
            <button type="submit">Change</button>
        </form>
        </div>
        </div>
    </main>
</body>
</html>