<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/prerequisite.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/userlogin.css">
    <link rel="stylesheet" href="css/usersignup.css">
    <script src="js/usersignup.js" defer></script>
    <title>Login</title>
</head>
<body>
    <nav>
      <div class="nav-container">
        <div class="logo-container">
          <div class="logo"></div>
          <a href="/">
          <h1>Blood Care</h1>
          </a>
        </div>
      </div>
    </nav>
    <main class="container">
    <div class="even-columns">
        <div class="hero-img-container">
            <div class="img-container">
            {{!-- <h2 class="thanksnote">Thank You for supporting Humanity</h2> --}}
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div>
                    <h1>SignUp As a Donor</h1>
                </div>
                <div class="form">
                    <form action="/api/userSignUp" method="post" class="form">
                    <div class="even-columns section-container">
                    <div>
                        <div class="name-section">
                            <div>
                                <label for="name">Name</label>
                            </div>
                            <div>
                                <input type="text" name="name" required>
                            </div>
                        </div>
                        <div class="email-section">
                            <div>
                                <label for="email">Email</label>
                            </div>
                            <div>
                                <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                            </div>
                        </div>
                        <div class="group-section">
                            <div>
                                <label for="group">Blood Group</label>
                            </div>
                            {{!-- <div>
                                <input type="group" name="group" required>
                            </div> --}}
                            <div>
                                <select name="group" id="group" required>
                                    <option value="">--None--</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                </select>
                                {{!-- <input list="groups" name="group" autocomplete="off" required>
                                <datalist id="groups">
                                <option value="O+">
                                <option value="A+">
                                <option value="B+">
                                </datalist> --}}
                            </div>
                        </div>
                        <div class="PhNo-section">
                            <div>
                                <label for="PhNo">Mobile Number</label>
                            </div>
                            <div>
                                <input type="PhNo" name="PhNo" pattern="[1-9]{1}[0-9]{9}" required>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="Age-section">
                            <div>
                                <label for="age">Age</label>
                            </div>
                            <div>
                                <input type="number" name="age" min="18" max="65" required>
                            </div>
                        </div>
                        <div class="Gender-section">
                            <div>
                                <label for="gender">Gender</label>
                            </div>
                            <div>
                                <select name="gender" id="gender" required>
                                    <option value="">--None--</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                </select>
                                {{!-- <input list="genders" name="gender" autocomplete="off" required>
                                <datalist id="genders">
                                <option value="Male">
                                <option value="Female">
                                <option value="Others">
                                </datalist> --}}
                            </div>
                        </div>
                        <div class="Location-section">
                            <div>
                                <label for="location">Location</label>
                            </div>
                            <div>
                                <input name="location" required>
                            </div>
                        </div>
                        <div class="passwd-section">
                            <div>
                                <label for="password">Password</label>
                            </div>
                            <div>
                                <input type="password" name="password" required>
                            </div>
                        </div>
                    </div>
                    </div>
                        <div>
                        <button type="submit">Submit</button>
                        <a class="red-login" href="/userlogin">Already a User? Log in</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </main>
</body>
</html>