<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/prerequisite.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/userlogin.css">
    <title>Login</title>
</head>
<body>
    <nav>
      <div class="nav-container">
        <div class="logo-container">
          <div class="logo"></div>
          <a href="/">
          <h1>Blood Care</h1>
          </a>
        </div>
      </div>
    </nav>
    <main class="container">
    <div class="even-columns">
        <div class="hero-img-container">
        {{!-- <h2 class="thanksnote">Thank You for supporting Humanity</h2> --}}
        </div>
        <div class="card-container">
            <div class="card">
                <div>
                    <h1>Log In</h1>
                </div>
                <h4>{{msg}}</h4>
                <div class="form">
                    <form action="/api/userLogin" method="post">
                        <div class="name-section">
                            <div>
                                <label for="name">Name</label>
                            </div>
                            <div>
                                <input type="text" name="name" required>
                            </div>
                        </div>
                        <div class="email-section">
                            <div>
                                <label for="email">Email</label>
                            </div>
                            <div>
                                <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                            </div>
                        </div>
                        <div class="passwd-section">
                            <div>
                                <label for="password">Password</label>
                            </div>
                            <div>
                                <input type="password" name="password" required>
                            </div>
                        </div>
                        <div>
                        <button type="submit">Submit</button>
                        <a class="red-signup" href="/usersignup">New User? SignUp</a>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    </main>
</body>
</html>