@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

:root {
  --clr-primary-black: hsl(60, 2%, 11%);
  --clr-secondary-black: hsl(261, 88%, 13%);
  --clr-primary-white: hsl(0, 0%, 100%);

  --clr-accent-100: #fff2f2;
  --clr-accent-200: #fec1c2;
  --clr-accent-300: #ff9092;
  --clr-accent-400: #ff5f61;
  /* --clr-accent-500: #ff2e31; */
  --clr-accent-500: hsl(0, 71%, 51%);
  --clr-accent-600: #fc0003;
  --clr-accent-700: #cc0002;
  --clr-accent-800: #9b0002;
  --clr-accent-900: #6a0001;

  --clr-bg-accent: #F08080;
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87.5%);;
  --clr-neutral-300: hsl(0, 0%, 75%);;
  --clr-neutral-400: hsl(0, 0%, 62.5%);;
  --clr-neutral-500: hsl(0, 0%, 50%);;
  --clr-neutral-600: hsl(0, 0%, 37.5%);;
  --clr-neutral-700: hsl(0, 0%, 25%);;
  --clr-neutral-800: hsl(0, 0%, 12.5%);;
  --clr-neutral-900: hsl(0, 0%, 0%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif !important;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  min-height: 100%;
  /* font-family: 'sans-serif'; */
  font-weight: 600;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
dl, ol, ul {
  margin: 0;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  --max-width: 1310px;
  --container-padding: 1rem;
  
  width: min(var(--max-width), 100% - (var(--container-padding)*2));
  margin-inline: auto;
}

.even-columns {
  /* position: relative; */
  display: grid;
  gap: 1rem;
}
@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
button {
  display: inline-flex;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  padding: 0.5em 2em;
  margin-block: 1rem;
  line-height: 1;
  font-weight: 900;
  font-size: 1.15rem;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
}
button[data-type="inverted"] {
  background-color: inherit;
  text-decoration: underline;
  color: var(--clr-accent-200);
}
